/.Rproj.user/AB4CD87B/cpp-complilation-config
/.Rproj.user/AB4CD87B/cpp-definition-cache
/.Rproj.user/AB4CD87B/pcs/files-pane.pper
/.Rproj.user/AB4CD87B/pcs/source-pane.pper
/.Rproj.user/AB4CD87B/pcs/windowlayoutstate.pper
/.Rproj.user/AB4CD87B/pcs/workbench-pane.pper
/.Rproj.user/AB4CD87B/persistent-state
/.Rproj.user/AB4CD87B/saved_source_markers
/src/RcppExports.cpp
/src/RcppExports.o
/src/oXim.so
/src/ordfilt2_C_internal.o
.Rproj.user
/src/*.dll
inst/doc
/.Rhistory
/README-unnamed-chunk-3-1.png
/vignettes/vignette_cache/html/__packages
/vignettes/vignette_cache/html/unnamed-chunk-1_6dcc733aa313a78233d8231d4bc83043.RData
/vignettes/vignette_cache/html/unnamed-chunk-1_6dcc733aa313a78233d8231d4bc83043.rdb
/vignettes/vignette_cache/html/unnamed-chunk-1_6dcc733aa313a78233d8231d4bc83043.rdx
/vignettes/vignette_cache/html/unnamed-chunk-5_18bab94f384c2f313592bfed084e5bce.RData
/vignettes/vignette_cache/html/unnamed-chunk-5_18bab94f384c2f313592bfed084e5bce.rdb
/vignettes/vignette_cache/html/unnamed-chunk-5_18bab94f384c2f313592bfed084e5bce.rdx
/README-unnamed-chunk-2-1.png
/vignettes/vignette_cache/html/unnamed-chunk-3_4bcafce101071009da5d40c1390f418c.RData
/vignettes/vignette_cache/html/unnamed-chunk-3_4bcafce101071009da5d40c1390f418c.rdb
/vignettes/vignette_cache/html/unnamed-chunk-3_4bcafce101071009da5d40c1390f418c.rdx
/vignettes/vignette_cache/html/unnamed-chunk-7_47c5c851a500b81e7dc1fff510cdc262.RData
/vignettes/vignette_cache/html/unnamed-chunk-7_47c5c851a500b81e7dc1fff510cdc262.rdb
/vignettes/vignette_cache/html/unnamed-chunk-7_47c5c851a500b81e7dc1fff510cdc262.rdx
/vignettes/vignette.html
/vignettes/vignette_cache/html/unnamed-chunk-3_ccf9ce7567b0d833c5dd0791c366e4a2.RData
/vignettes/vignette_cache/html/unnamed-chunk-3_ccf9ce7567b0d833c5dd0791c366e4a2.rdb
/vignettes/vignette_cache/html/unnamed-chunk-3_ccf9ce7567b0d833c5dd0791c366e4a2.rdx
/vignettes/vignette_cache/html/unnamed-chunk-7_9f403fae10ff7304bad716657a27b4e7.RData
/vignettes/vignette_cache/html/unnamed-chunk-7_9f403fae10ff7304bad716657a27b4e7.rdb
/vignettes/vignette_cache/html/unnamed-chunk-7_9f403fae10ff7304bad716657a27b4e7.rdx
/vignettes/vignette_files/figure-html/unnamed-chunk-10-1.png
/vignettes/vignette_files/figure-html/unnamed-chunk-6-1.png
