/.Rproj.user/AB4CD87B/cpp-complilation-config
/.Rproj.user/AB4CD87B/cpp-definition-cache
/.Rproj.user/AB4CD87B/pcs/files-pane.pper
/.Rproj.user/AB4CD87B/pcs/source-pane.pper
/.Rproj.user/AB4CD87B/pcs/windowlayoutstate.pper
/.Rproj.user/AB4CD87B/pcs/workbench-pane.pper
/.Rproj.user/AB4CD87B/persistent-state
/.Rproj.user/AB4CD87B/saved_source_markers
/R/RcppExports.R
/src/RcppExports.cpp
/src/RcppExports.o
/src/oXim.so
/src/ordfilt2_C_internal.o
.Rproj.user
/src/*.dll
